@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #bebebe;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}
.completed {
  color: #2600cf;
  text-decoration: line-through;
  cursor: pointer;
}
